.projects {
  min-height: 90vh;
  h2 {
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: #5195ee;
  }
  img {
    border: 1px solid rgb(66, 66, 66);
    border-radius: 8px;
    padding: 8px;
  }
}
